*{
    margin: 0px;
    padding: 0px;
}
.main{
    background-image: url("../images/KL (1).jpg");
    background-size: cover;
    height: 100vh;
}
header{
    background-color: rgb(255, 255, 255, 0.3);
    width: 100%;
    height: 100px;
    text-align: right;
    padding-left: 90px;
    padding-top: 10px;
    padding-right: 40px;
}
header img{
    float: left;
    padding-left: 15px;
    padding-top: 15px;
    height: 100px;
    width: 91px;
}
header h3{
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding-top: 30px;
    padding-left: 10px;
}
.nav-1{
    float: right;
    padding-right: 20px ;
    padding-top: 30px;
    text-decoration:none ;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px !important;
}
.nav-1:hover{
    color: white;
}
footer
{
    height: 5%;
    background-color: white;
}
